@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  cursor: pointer;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: lato;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 0 5px;
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0;
}
.mainblock__content {
  position: relative;
  z-index: 1;
}
.mainblock__content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainblock__text {
  color: #fff;
  position: relative;
  padding: 0px 0px 45px 0px;
  margin: 30px 0px;
}
.mainblock__text:after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
.mainblock__title {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5.43px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767.98px) {
  .mainblock__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainblock__btn {
  margin: 0px 0px 10% 0px;
}
.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}
.mainblock__image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.btn {
  display: inline-block;
  height: 44px;
  padding: 0 42px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.67px;
}
.btn.fw {
  width: 100%;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}
.btn_w span {
  position: relative;
  z-index: 1;
}
.btn_w:hover {
  background-color: #fff;
  color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}
.btn_b {
  color: #000;
  border: 1px solid #000;
}
.btn_b:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.content {
  position: relative;
  z-index: 50;
  background-color: #fff;
}

.menu {
  border-bottom: 1px solid #f2f2f2;
  padding: 22px 0;
}
.menu_mb {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 992.98px) {
  .menu_mb {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu_mb {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 479.98px) {
  .menu {
    padding: 22px 0px 12px 0px;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__list li {
  margin: 0 25px;
}
@media (max-width: 767.98px) {
  .menu__list li {
    margin: 0 15px 10px 15px;
  }
}
@media (max-width: 767.98px) {
  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 479.98px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.menu__link {
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__link:hover {
  color: #ada074;
}
.menu__link_act {
  color: #ada074;
}

.header-block {
  text-align: center;
}
.header-block__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 8.95px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 30px 0px;
}
.header-block__title:after {
  content: "";
  width: 81px;
  position: absolute;
  left: 49.3%;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  height: 1px;
  background-color: #000000;
}
.header-block__subtitle {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.about {
  padding: 0px 0px 60px 0px;
}
@media (max-width: 992.98px) {
  .about {
    padding: 0px 0px 10px 0px;
  }
}
.about__header-block {
  margin: 0px 0px 65px 0px;
}
@media (max-width: 992.98px) {
  .about__header-block {
    margin: 0px 0px 30px 0px;
  }
}
.about__body {
  text-align: center;
}
.about__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 -15px;
}
@media (max-width: 767.98px) {
  .about__row {
    display: block;
  }
}
.about__column {
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 15px;
}
.about__item {
  text-align: center;
  max-width: 260px;
}
@media (max-width: 767.98px) {
  .about__item {
    max-width: none;
  }
}
.about__icon {
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  width: 92px;
  height: 92px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}
.about__icon_l img {
  position: relative;
  left: 5px;
}
@media (max-width: 767.98px) {
  .about__icon {
    margin: 0px 0px 15px 0px;
  }
}
.about__title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 33px 0px;
}
@media (max-width: 992.98px) {
  .about__title {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 767.98px) {
  .about__title {
    margin: 0px 0px 15px 0px;
  }
}
.about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 105px 0px 60px 0px;
}
@media (max-width: 992.98px) {
  .portfolio {
    padding: 50px 0px 40px 0px;
  }
}
.portfolio__header-block {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 992.98px) {
  .portfolio__header-block {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .portfolio__header-block {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio__filter {
  margin: 0px 0px 135px 0px;
}
@media (max-width: 992.98px) {
  .portfolio__filter {
    margin: 0px 0px 50px 0px;
  }
}
.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 550px) {
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.portfolio__item img {
  max-width: 100%;
}
.portfolio__footer {
  padding: 35px 0px 0px 0px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .portfolio__footer {
    padding: 15px 0px 0px 0px;
  }
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__item {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 25px;
  cursor: pointer;
}
.filter__item.active {
  color: #ada074;
}
.filter__item:hover {
  color: #ada074;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 767.98px) {
  .filter__item {
    margin: 0 15px;
  }
}

.partners {
  background: url(/img/bg.jpg) center/cover no-repeat;
  padding: 100px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .partners {
    padding: 30px 0px 0px 0px;
  }
}
.partners__title {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin: 0px 0px 90px 0px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .partners__title {
    margin: 0px 0px 30px 0px;
  }
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__column {
  padding: 0 50px;
  margin: 0px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .partners__column {
    padding: 0 30px;
  }
}
input {
  border: 1px solid #000;
  height: 50px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 20px;
  font-size: 15px;
}

textarea {
  resize: none;
  border: 1px solid #000;
  height: 117px;
  padding: 10px 20px;
  width: 100%;
}

.contacts {
  padding: 180px 0px 60px 0px;
}
@media (max-width: 992.98px) {
  .contacts {
    padding: 80px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 30px 0px 30px 0px;
  }
}
.contacts__header-block {
  margin: 0px 0px 120px 0px;
}
@media (max-width: 992.98px) {
  .contacts__header-block {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .contacts__header-block {
    margin: 0px 0px 30px 0px;
  }
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
}
@media (max-width: 767.98px) {
  .contacts__body {
    display: block;
  }
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 25px;
}
.contacts__form {
  text-align: right;
}
@media (max-width: 767.98px) {
  .contacts__form {
    text-align: left;
    margin: 0px 0px 30px 0px;
  }
}
.contacts__content {
  max-width: 260px;
}
@media (max-width: 767.98px) {
  .contacts__content {
    max-width: 100%;
  }
}
.contacts__text {
  line-height: 26px;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0px 35px 0px;
}
.contacts__label {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}
.contacts__social {
  margin: 0px 0px 15px 0px;
}
.contacts__email {
  font-size: 14px;
}
.contacts__email a {
  font-weight: 700;
  color: #000;
}
.contacts__email a:hover {
  text-decoration: underline;
}

.form-contacts__body {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}
@media (max-width: 767.98px) {
  .form-contacts__body {
    max-width: none;
    display: block;
  }
}
.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 70px -15px;
}
@media (max-width: 479.98px) {
  .form-contacts__row {
    margin: 0 -15px 30px -15px;
  }
}
@media (max-width: 479.98px) {
  .form-contacts__row {
    display: block;
  }
}
.form-contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}
@media (max-width: 479.98px) {
  .form-contacts__column:first-child {
    margin: 0px 0px 30px 0px;
  }
}
.form-contacts__label {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  text-align: left;
}
.form-contacts__btn {
  margin: 35px 0px 0px 0px;
}
@media (max-width: 479.98px) {
  .form-contacts__btn {
    display: block;
    width: 100%;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item {
  margin: 0px 15px 0px 0px;
}

.footer {
  background-color: #3c3c3c;
  padding: 45px 0;
  position: relative;
}
.footer__body {
  text-align: center;
}
.footer__logo {
  display: inline-block;
  margin: 0px 0px 40px 0px;
}
.footer__menu {
  text-align: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 35px 0px;
}
.footer__list li {
  margin: 0 10px;
}
.footer__link {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}
.footer__link:hover {
  text-decoration: underline;
  color: #fff;
}
.footer__text {
  color: #6c6c6c;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
}