@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
// оболчка =========================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
// оболчка =========================

// Переменные ================================
$mw: 1100px;
$minwidth: 320px;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
// Переменные ================================

// основная сетка ===========================
.container {
   max-width: $mw;
   margin: 0 auto;
   width: 100%;
   padding: 0 5px;
}
// основная сетка ===========================

.mainblock {
   flex: 1 1 auto;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px 0;
   &__content {
      position: relative;
      z-index: 1;
      .container {
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
      }
   }

   &__logo {
   }

   &__text {
      color: #fff;
      position: relative;
      padding: 0px 0px 45px 0px;
      margin: 30px 0px;
      &:after {
         content: "";
         width: 105px;
         height: 2px;
         background-color: #fff;
         position: absolute;
         left: 50%;
         margin: 0px 0px 0px -52.5px;
         bottom: 0;
      }
   }
   &__title {
      font-weight: 900;
      font-size: 34px;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 5.43px;
      margin: 0px 0px 10px 0px;
      @media (max-width: $md3+px) {
         font-size: 25px;
         line-height: 30px;
      }
   }

   &__subtitle {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 4.15px;
   }

   &__footer {
      display: inline-flex;
      flex-direction: column;
   }

   &__btn {
      margin: 0px 0px 10% 0px;
   }

   &__arrow {
      position: relative;
      animation: arrow 2s infinite ease;
   }

   &__image {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

@keyframes arrow {
   0% {
      top: 0;
   }
   50% {
      top: 20px;
   }
   100% {
      top: 0;
   }
}

.btn {
   display: inline-block;
   height: 44px;
   padding: 0 42px;
   line-height: 44px;
   text-transform: uppercase;
   color: #fff;
   font-size: 16px;
   letter-spacing: 0.67px;
   &.fw {
      width: 100%;
   }
   &_w {
      color: #fff;
      border: 1px solid #fff;
      span {
         position: relative;
         z-index: 1;
      }
      &:hover {
         background-color: #fff;
         color: #000000;
         transition: 1s;
      }
   }
   &_b {
      color: #000;
      border: 1px solid #000;
      &:hover {
         background-color: #000;
         color: #fff;
         transition: 1s;
      }
   }
}

// ==========================================
.content {
   position: relative;
   z-index: 50;
   background-color: #fff;
}
// ==========================================

// MENU  ==========================================
.menu {
   border-bottom: 1px solid #f2f2f2;
   padding: 22px 0;
   &_mb {
      margin: 0px 0px 130px 0px;
      @media (max-width: $md2+px) {
         margin: 0px 0px 50px 0px;
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 30px 0px;
      }
   }
   @media (max-width: $md4+px) {
      padding: 22px 0px 12px 0px;
   }
   &__items {
   }

   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
         margin: 0 25px;
         @media (max-width: $md3+px) {
            margin: 0 15px 10px 15px;
         }
         @media (max-width: $md3+px) {
            flex: 0 1 25%;
         }
      }
      @media (max-width: $md4+px) {
         flex-wrap: wrap;
      }
   }

   &__link {
      color: #3c3c3c;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
         color: #ada074;
      }
      &_act {
         color: #ada074;
      }
   }
}
// ==========================================

// ============header-block======================
.header-block {
   text-align: center;
   &__title {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 8.95px;
      text-transform: uppercase;
      position: relative;
      padding: 0px 0px 30px 0px;
      &:after {
         content: "";
         width: 81px;
         position: absolute;
         left: 49.3%;
         bottom: 0;
         margin: 0px 0px 0px -40.5px;
         height: 1px;
         background-color: #000000;
      }
   }

   &__subtitle {
      max-width: 700px;
      margin: 0 auto;
      padding: 30px 0px 0px 0px;
      color: #868585;
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px;
   }
}

// ==============================================

.about {
   padding: 0px 0px 60px 0px;
   @media (max-width: $md2+px) {
      padding: 0px 0px 10px 0px;
   }
   &__header-block {
      margin: 0px 0px 65px 0px;
      @media (max-width: $md2+px) {
         margin: 0px 0px 30px 0px;
      }
   }

   &__body {
      text-align: center;
   }

   &__row {
      display: inline-flex;
      margin: 0 -15px;
      @media (max-width: $md3+px) {
         display: block;
      }
   }

   &__column {
      margin: 0px 0px 30px 0px;
      flex: 0 1 33.3333%;
      padding: 0 15px;
   }

   &__item {
      text-align: center;
      max-width: 260px;
      @media (max-width: $md3+px) {
         max-width: none;
      }
   }

   &__icon {
      border-radius: 50%;
      border: 1px solid #f2f2f2;
      width: 92px;
      height: 92px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 40px 0px;
      &_l {
         img {
            position: relative;
            left: 5px;
         }
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 15px 0px;
      }
   }

   &__title {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 3.52px;
      margin: 0px 0px 33px 0px;
      @media (max-width: $md2+px) {
         font-size: 18px;
         margin: 0px 0px 25px 0px;
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 15px 0px;
      }
   }

   &__text {
      color: #868585;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
   }
}

// ===portfolio =======================================
.portfolio {
   background-color: #f3f3f3;
   padding: 105px 0px 60px 0px;
   @media (max-width:$md2+px) {
      padding: 50px 0px 40px 0px;
   }
   &__header-block {
      margin:0px 0px 50px 0px;
      @media (max-width:$md2+px) {
         margin:0px 0px 30px 0px;
      }
      @media (max-width:$md3+px) {
         margin:0px 0px 20px 0px;
      }
   }

   &__filter {
      margin:0px 0px 135px 0px;
      @media (max-width:$md2+px) {
         margin:0px 0px 50px 0px;
      }
   }

   &__items {
      display: flex;
      margin: 0 -15px;
      flex-wrap: wrap;
   }

   &__column {
      flex: 0 1 50%;
      padding: 0 15px;
      margin:0px 0px 30px 0px;
      @media (max-width:550px) {
         flex: 0 1 100%;
      } 
   }

   &__item {
      img{
         max-width: 100%;
      }
   }

   &__footer {
      padding: 35px 0px 0px 0px;
      text-align: center;
      @media (max-width:$md3+px) {
         padding: 15px 0px 0px 0px;
      } 
      
   }

   &__btn {
   }
}
.filter {

   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__item {
      color:#3c3c3c;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 25px;
      cursor: pointer;
      &.active {
         color: #ada074;
      }
      @media (max-width:$md3+px) {
         margin: 0 15px;
      } 
   }
}



